<!DOCTYPE html>
<html>
<head>
    <title>人际关系查询</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        html, body {
          font: 10pt arial;
        }
        #mynetwork {
          width: 600px;
          height: 600px;
          border: 1px solid lightgray;
        }
        #mytable td{
            padding:10px 18px
        }
        #mytable tbody tr .tname:hover  {
        background-color: #0180FE;
        color: #fff;
        cursor:pointer;
        }
        .dataTable tr:hover td {background:none;}
        em{
            color:red;
        }
        .socialbar {
            padding: 15px 0;
            text-align: center;
            background-color: #f5f5f5;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #eeeeee;
        }
    </style>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="static/dist/vis.js"></script>
    <script type="text/javascript" src="static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
    <link  href="static/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
    <link  href="static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link  href="static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet">
    <link  href="static/css/slider.css" rel="stylesheet">
    <link  href="static/css/jquery.dataTables.min.css" rel="stylesheet">
</head>

<body onload="draw()">
    <div class="row" style="">
		<div class="span6">
			<ul class="nav nav-tabs" style="margin-left:1%;">
                <li  class="active"><a href="/totalview">社交网络概况</a> </li>
                <li><a href="near.html">人际关系查询</a> </li>
                <li><a href="path.html?id=扎克伯格&习近平">六度查询</a></li>
			</ul>
		</div>
	</div>
    <div class="socialbar">
        <div class="row" style="background-color: #f5f5f5">
            <div class="col-md-12">
                网络群体与市场 |
                <a href="http://118.89.233.180:1241">社交网络分析</a>
            </div>
        </div>
    </div>
     <div id="main-container" class="container" style="margin-left: 0;padding-left:0px;width:100%;">
        <div class="row" style="margin-top:50px;">
            <div class="col-md-1 col-sm-12 col-xs-12" ></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-success"></a>
                    </div>
                    <div class="panel-body" style="" id="resultbody">
                        <div id="result">
                            <h3><span id="resulttitle">社交网络基本信息</span></h3>
                            <table class='table table-striped table-hover ' style='width:100% ' id='mytable'>
                                <thead>
                                    <th>属性</th>
                                    <th>值</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>图节点个数</td>
                                        <td>80785</td>
                                    </tr>
                                    <tr>
                                        <td>图边个数</td>
                                        <td>1731600</td>
                                    </tr>
                                    <tr>
                                        <td>连通分量个数</td>
                                        <td>531</td>
                                    </tr>
                                    <tr>
                                        <td>最大连通分量大小</td>
                                        <td>78725</td>
                                    </tr>
                                    <!--tr>
                                        <td>平均路径长度</td>
                                        <td>1</td>
                                    </tr-->
                                    <tr>
                                        <td>最具影响力人物</td>
                                        <td>习近平</td>
                                    </tr>
                                    <tr>
                                        <td>中心性最高人物</td>
                                        <td>胡锦涛</td>
                                    </tr>
                                    <tr>
                                        <td>聚集系数最高人物</td>
                                        <td>马卡连科等6236人</td>
                                    </tr>
                                    <tr>
                                        <td>最亲密的两人</td>
                                        <td>胡锦涛,温家宝(386亲密度)</td>
                                    </tr>
                                    <tr>
                                        <td>最具社交力人物</td>
                                        <td>习近平(7414个好友)</td>
                                    </tr>
                                    <!--tr>
                                        <td>网络直径</td>
                                        <td>1</td>
                                    </tr-->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-sm-12 col-xs-12" style="border-right: 1px solid #eeeeee;"></div>
            <div class="col-md-1 col-sm-12 col-xs-12" style="border-right: 1px solid #eeeeee;"></div>
            <div class="col-md-4 col-sm-12 col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-success"></a>
                    </div>
                    <div class="panel-body" style="" id="resultbody1">
                        <div id="result1">
                            <h3><span id="resulttitle">影响力排行</span></h3>
                            <div class="table-div1"></div>
                            <table class='table table-striped table-hover ' style='width:100% ' class='top_table' id="table1">
                                <thead>
                                    <th>姓名</th>
                                    <th>影响力</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>习近平</td>
                                        <td>0.004245027487686252</td>
                                    </tr>
                                    <tr>
                                        <td>胡锦涛</td>
                                        <td>胡锦涛</td>
                                    </tr>
                                    <tr>
                                        <td>温家宝</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>李克强</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>徐建平</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>程永华</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>邱小琪</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>杨洁篪</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>杨厚兰</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>伍江</td>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="row" style="margin-top:50px;">
            <div class="col-md-1 col-sm-12 col-xs-12" ></div>
            <div class="col-md-4 col-sm-12 col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-success"></a>
                    </div>
                    <div class="panel-body" style="" id="resultbody2">
                        <div id="result2">
                            <h3><span id="resulttitle">中介中心性排行</span></h3>
                            <table class='table table-striped table-hover ' style='width:100% ' class='top_table' id="table2">
                                <thead>
                                    <th>姓名</th>
                                    <th>值</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>p1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p2</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-1 col-sm-12 col-xs-12" style="border-right: 1px solid #eeeeee;"></div>
            <div class="col-md-1 col-sm-12 col-xs-12" style="border-right: 1px solid #eeeeee;"></div>
            <div class="col-md-4 col-sm-12 col-xs-12" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-success"></a>
                    </div>
                    <div class="panel-body" style="" id="resultbody3">
                        <div id="result3">
                            <h3><span id="resulttitle">聚集系数排行</span></h3>
                            <table class='table table-striped table-hover ' style='width:100% ' class='top_table' id="table3">
                                <thead>
                                    <th>属性</th>
                                    <th>值</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>p1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p2</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>p3</td>
                                        <td>1</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <input type="hidden" id="hid" value="14"></input>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#mytable').DataTable({
                "paging": false,
                "iDisplayLength":12, //默认每页数量
                "bPaginate": false, //翻页功能
                "bLengthChange": false, //改变每页显示数据数量
                "bFilter": false, //过滤功能
                "bInfo": false, //页脚信息
                "bAutoWidth": true, //自动宽度
                "bRetrieve": true,
                "processing": true,
                //"ordering": false,
                "bSort": false,
                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                //"serverSide" : true,//服务器端进行分页处理的意思
                //"bPaginate": true,
                //"bProcessing": true
                columns : [{data : "id"},{data:"value"}],
            });
            $.get("http://118.89.233.180:1241/gettotalview",{}, function(ret){
                console.log(ret);
                str = " <thead>" + "<th>姓名</th>" +"<th>影响力</th>" +"</thead>" +"<tbody>"
                for(var i=0;i<ret[0].length;i++){
                    str += "<tr>" +"<td>"+ret[0][i]['sname']+"</td>" +"<td>"+ret[0][i]['sval']+"</td>" +" </tr>"
                }
                str +=  "</tbody>"
                $("#table1").html(str);

                str = " <thead>" + "<th>姓名</th>" +"<th>中介中心性</th>" +"</thead>" +"<tbody>"
                for(var i=0;i<ret[1].length;i++){
                    str += "<tr>" +"<td>"+ret[1][i]['sname']+"</td>" +"<td>"+ret[1][i]['sval']+"</td>" +" </tr>"
                }
                str +=  "</tbody>"
                $("#table2").html(str);

                str = " <thead>" + "<th>姓名</th>" +"<th>聚集系数</th>" +"</thead>" +"<tbody>"
                for(var i=0;i<ret[2].length;i++){
                    str += "<tr>" +"<td>"+ret[1][i]['sname']+"</td>" +"<td>"+ret[2][i]['sval']+"</td>" +" </tr>"
                }
                str +=  "</tbody>"
                $("#table3").html(str);

                $("#table1").DataTable({
                    "paging": true,
                    "iDisplayLength":10, //默认每页数量
                    "bPaginate": true, //翻页功能
                    "bLengthChange": true, //改变每页显示数据数量
                    "bFilter": false, //过滤功能
                    "bInfo": true, //页脚信息
                    "bAutoWidth": true, //自动宽度
                    "bRetrieve": true,
                    "processing": true,
                    //"ordering": false,
                    "bSort": false,
                    language: {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    //"serverSide" : true,//服务器端进行分页处理的意思
                    //"bPaginate": true,
                    //"bProcessing": true
                    columns : [{data : "id"},{data:"value"}],
                })
                $("#table2").DataTable({
                    "paging": true,
                    "iDisplayLength":10, //默认每页数量
                    "bPaginate": true, //翻页功能
                    "bLengthChange": true, //改变每页显示数据数量
                    "bFilter": false, //过滤功能
                    "bInfo": true, //页脚信息
                    "bAutoWidth": true, //自动宽度
                    "bRetrieve": true,
                    "processing": true,
                    //"ordering": false,
                    "bSort": false,
                    language: {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    //"serverSide" : true,//服务器端进行分页处理的意思
                    //"bPaginate": true,
                    //"bProcessing": true
                    columns : [{data : "id"},{data:"value"}],
                })
                $("#table3").DataTable({
                    "paging": true,
                    "iDisplayLength":10, //默认每页数量
                    "bPaginate": true, //翻页功能
                    "bLengthChange": true, //改变每页显示数据数量
                    "bFilter": false, //过滤功能
                    "bInfo": true, //页脚信息
                    "bAutoWidth": true, //自动宽度
                    "bRetrieve": true,
                    "processing": true,
                    //"ordering": false,
                    "bSort": false,
                    language: {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    //"serverSide" : true,//服务器端进行分页处理的意思
                    //"bPaginate": true,
                    //"bProcessing": true
                    columns : [{data : "id"},{data:"value"}],
                })
            })

        });
    </script>
</body>
</html>
